<div class="card-tutorial">
  <h2 class="text-primary text-center">Sử dụng chatbot</h2>
  <hr />
  <br />
  <ul>
    <li>
      <p>Cần xác định câu hỏi, từ khoá hoặc chủ đề mà bạn muốn được trả lời.</p>
    </li>
    <div class="text-center">
      <img
        src="https://cdn.iconscout.com/icon/free/png-256/thinking-2166577-1836800.png"
        alt="thinking"
      />
    </div>
    <li>
      <p>
        Gõ từ khoá hoặc câu hỏi đó vào ô "Nhập nội dung..." và ấn Enter (hoặc
        nút có Icon hình con diều) để gửi.
      </p>
    </li>
    <div class="text-center">
      <img
        src="https://cdn2.iconfinder.com/data/icons/deisgn-and-development-1/64/vector_445_05-512.png"
        alt="thinking"
      />
    </div>
    <li>
      <p>
        Chatbot sẽ tự động xử lý nội dung mà bạn đã gửi, sau đó sẽ trả lời ngay
        khi có kết quả.
      </p>
    </li>
    <div class="text-center">
      <img
        src="https://cdn1.iconfinder.com/data/icons/creative-design-honey-vol-2/64/TECHNICAL_THINKING-512.png"
        alt="thinking"
      />
    </div>
    <small class="text-primary text-warning mb-4">
      *Bộ dữ liệu của chatbot còn ít và nhiều hạn chế, mong các bạn thông cảm.
      Xin cảm ơn! ❤*
    </small>
  </ul>
</div>
